@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">You can find the code for this example at Github.</p>
    <p><a href="https://github.com/thinkingserious/SendGridEventWebhookAzureASPNETCSharp" class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
    <p class="lead">The SendGrid Event Webhook is used for near real-time tracking of your email's activity.</p>
    <p><a href="https://sendgrid.com/docs/API_Reference/Webhooks/event.html" class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
</div>